*{
    margin: 0;
    padding: 0;
}

/*HEADER */
.navb{
    padding-right: 1rem; 
    padding-left:10px; 
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    
}

.nav-link{
    font-size: 1.5rem;
    padding: 20px 5px;
    margin-left:5%;


}

/*SHOWCASE*/
.showcase-text{
   
    margin-top: 5%;
    padding-left: 7%;
    padding-top: 5%;
     
    /* background-color:rgba(176, 183, 187, 0.1);  */
}

.showcase-text h2{
    font-size: 45px;
    padding: 2% 0;
    letter-spacing: 1.5px;
    line-height: 1.3em;
    color: rgba(124, 141, 148, 0.9);
}

.showcase-text h1{
    font-size: 65px;
    padding: 2% 0;
    font-weight: 300px;
    color:#ff8859;
}

.showcase-text p{
    padding: 5% 0;
    line-height: 2.4rem;
    font-size: 1.4em;
    color: rgba(108, 119, 124, 0.9);
}

.btn1{
    background-color: #ff8859;
    width: 120px;
    height: 45px;
    border: none;
    color: white;
    font-size: 1rem;
    margin-bottom:40px;
    margin-right:15px;
    padding: 5px;
    letter-spacing: .1rem;
}
.arri{
    width: 30px;
    height: 22px;
    padding-left: 10px;
    padding-bottom: 4px;
}
.btn2{
    background-color: #ff8859;
    width: 140px;
    height: 45px;
    border: none;
    color: white;
    font-size: 1rem;
    margin-bottom:40px;
    margin-right:15px;
    padding: 5px;
    letter-spacing: .1rem;
}


.showimg{
    width: 95vw !important;
    height: vh !important;
    padding: 10px;
    margin-top: 20px;
}

/* WORKING */
.working-area{
    background-color: rgba(129,162,178,.1);
    margin: 20px 0 ;
    padding: 40.5px 0 40.5px 0 ;
}
.text{
    text-align: center;
    align-items: center;
    font-size: 18px;
    color: #6b8a99;
    line-height: 26px;
    
}

.work-card{
    padding: 50px 20px 20px 20px ;
  
    text-align: center;
    align-items: center;
   
}

.work-card h3{
    font-size: 20px;
    color: #495f69;

}

.work-card p{
    font-size: 19px;
    color: #6b8a99;
    letter-spacing: .1px;
    line-height: 26px;
}

.work-card .learn-btn {
    width: 130px;
    height: 40px;
    border: none;
    color:#ff8859;
    background-color:rgba(216, 226, 231, 0);
    font-size: 20px;
}
.work-card .learn-btn .arr1{
     color: #ff8859;
     width: 30px;
    height: 22px;
    padding-left: 10px;
    padding-bottom: 4px;
}

/* features */

.features p{
    color:#717677 ;
    padding: 20px;
}

.feature{
    padding: 20px;
    
}

/* pricing */

.pricing{
    background-color: rgba(129,162,178,.1);
    text-align: center;
    padding: 40px 20px;
}

.pricing .price-text{
     font-size: 25px;
    color: #485358;
}

.pricing p{
    padding: 20px;
    font-size: 18px;
    color: #5e6c72;
}

.pricing span{
    font-size: 16px;
    color: #596a72;
    padding: 20px 0;
}

.pricing h5{
    font-size: 22px;
    margin: 6% 0;
    color: #5d686d;
}

.pricing .learn-btn {
    width: 150px;
    height: 40px;
    border: none;
    color:#ff8859;
    background-color:rgba(216, 226, 231, 0);
    font-size: 20px;
}
.pricing .learn-btn .arr1{
     color: #ff8859;
     width: 20px;
    height: 25px;
    padding-left: 4px;
    padding-bottom: 2px;
}
